<?xml version="1.0" encoding="utf-8" ?>
<AppUtil>
  <EventLogName>
    SPARUtilError
  </EventLogName>
  <ErrorURL>
    http://localhost/SPARErrorWeb/default.aspx
  </ErrorURL>
  <ErrorLogPath>
    d:\ErrorLog\
  </ErrorLogPath>
  <ShowErrorToUser>
    False
  </ShowErrorToUser>
  <WriteInEventViewer>
    No
  </WriteInEventViewer>
  <WriteInEventLogFile>
    Yes
  </WriteInEventLogFile>
  <RedirectToErrorURL>
    Yes
  </RedirectToErrorURL>
  <SendErrorInMail>
	Yes
  </SendErrorInMail>
  <MailFrom>
	jmasud@sparinc.com
  </MailFrom>
  <MailCC>
	 jmasud@sparinc.com
  </MailCC>
  <SMTPServer>
    exchange.sparinc.net
  </SMTPServer>
  <ShowThemeBar>
    No
  </ShowThemeBar>
</AppUtil>