<?xml version="1.0"?><!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
--><configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
	<appSettings>
		<!-- 
    General Settings
    -->
		<add key="AppId" value="cfgrid"/>
		<!--Unique Application Idsmpdemo-->
		<add key="AppMode" value="1"/>		<!--0 for test mode, 1 for production mode-->
		<add key="IsMerchApplication" value="Yes"/>	<!--If This application is for Merch then set it to "Yes" otherwise set it to "No"-->
		<add key="ErrorToMail" value="jmasud@sparinc.com"/>	<!--Enter your mailid to get error mails-->
		<add key="ErrorCCMail" value="arun@muthutech.com;arun@muthutech.com"/>
		<add key="ErrorBCCMail" value="arun@muthutech.com;arun@muthutech.com"/>
		<add key="EnableSecurityException" value="No"/>
		<add key="AppStartpage" value="default.aspx"/>	<!--Enter your startpage filename with extension so that main page link will take this file's URL-->
		<add key="AppTitle" value="Internet Call Form"/>
		<add key="CopyrightText" value="© 2008 SPAR"/>
		<add key="RightsText" value="All Rights Reserved."/>
		<add key="Promptpage" value="yourpagename"/>		<!--Enter your aspname for prompts, use one aspname and it will apply to entire application-->
		<add key="EnableBiLingualBar" value="No"/>		<!--Set to "Yes" if you want to display bilingual bar otherwise set it to "No" -->
		<add key="ThemesName" value="LocalAppTheme"/>		<!--Set to "Global" if you want to take themes from Global Directory, Give your theme name if you want to take themes from local application directory-->
		<add key="ShowMainPageURL" value="Yes"/>
		<add key="HideMainPageURLOnMainPage" value="No"/>		<!--Set to "Yes" if you want to display Main Page URL in your application otherwise set it to "No" -->
		<add key="ShowSPARToolsURL" value="Yes"/>		<!--Set to "Yes" if you want to display SPAR Tools URL in your application otherwise set it to "No" -->
		<add key="MainpageUrlText" value="Home"/>
		<add key="SparToolUrlText" value="SPAR Tools"/>
		<add key="IsMerchFromForm" value="No"/>
		<add key="0" value="EnglishDBconnectstring"/>		<!--Don't change these value, start from here-->
		<add key="1" value="EnglishDBconnectstring"/>
		<add key="2" value="JapanDBconnectstring"/>
		<add key="4" value="CanadaDBconnectstring"/>
		<add key="5" value="TurkeyDBconnectstring"/>
		<add key="6" value="SADBconnectstring"/>
		<add key="7" value="IndiaDBconnectstring"/>
		<add key="8" value="RomaniaDBconnectstring"/>
		<add key="9" value="DaymonDBconnectstring"/>
		<add key="10" value="ChinaDBconnectstring"/>
		<add key="11" value="LithuanianDBconnectstring"/>
		<add key="12" value="AustraliaDBconnectstring"/>
        <add key="13" value="EnglishDBconnectstring"/>
		<add key="15" value="MJSChinaDBconnectstring"/>
		<add key="16" value="MexicoDBconnectstring"/>
		<add key="17" value="SGRPIndiaDBconnectstring"/>
		<add key="18" value="MINMSPRODDBconnectstring"/>
		<add key="19" value="BrazilPRODDBconnectstring"/>
		<!--Don't change these value, end here-->
		<!-- 
    
    For Test Mode Only
    
    -->
		<!--send Photo Email to client -->
		<add key="PhotoEmailUsa" value="N"/>
		<add key="PhotoEmailJapan" value="N"/>
		<add key="PhotoEmailCanada" value="N"/>
		<add key="PhotoEmailTurkey" value="Y"/>
		<add key="PhotoEmailSouthAfrica" value="Y"/>
		<add key="PhotoEmailIndia" value="N"/>
		<add key="PhotoEmailRomania" value="Y"/>
		<add key="PhotoEmailChina" value="N"/>
		<add key="PhotoEmailLithuania" value="Y"/>
		<add key="PhotoEmailAustralia" value="N"/>
		<add key="PhotoEmailMexico" value="Y"/>
		<add key="PhotoEmailIT" value="N"/>
		
		<!--For Normal applications-->
		<add key="TestModeLanguageId" value="16"/>
		<!--Same for Normal and Merch Applications for ex: US:1-95057, Japan:2, Canada:4, Turkey:5,SouthAfrica:6, India:7, Romania:8, China:10, Lithuania:11, Australia:12 mexico 1336-->
    <add key="TestModeUserId" value="sys:dev"/>
    <add key="TestModeBiLingualCount" value="1"/>
    <add key="TestModeAccessRights" value="A"/>
    <add key="TestModeMerchUserId" value="1336"/>    <!--101768 For Merch applications, set merchno, to run as normal application set it to 0-->
		<!--    
    For Run As Simulation Mode Only    
    -->
		<add key="RunAsSimulation" value="No"/>
		<add key="TakeValuesFromCookie" value="No"/>
		<!-- Set Yes to get values(userid,languageid,token,remoteaddress,bilingualcount) from Cookie,No to get values for Web config -->
		<!--For Normal applications-->
		<add key="SimulationModeLanguageId" value="1"/>
		<!--Same for Normal and Merch Applications for ex: US:1, Japan:2, Canada:4, Turkey:5,SouthAfrica:6, India:7, Romania:8, China:10, Lithuania:11, Australia:12-->
		<add key="SimulationModeUserId" value="adshelly"/>
		<add key="SimulationModeBiLingualCount" value="1"/>
		<add key="SimulationModeAppToken" value="217490056496"/>  <!-- 201418489571-->     <!-- ch: 217490056496-->
		<add key="SimulationModeremoteaddress" value="172.16.6.3"/>
		<!--For Merch applications-->
		<add key="SimulationModeMerchUserId" value="0"/>
		<add key="FromMailID" value="CallFormPhotoNotification@sparinc.com"/>
		<add key="BccMailID" value="jmasud@sparinc.com"/>

		<!-- For test C:\\Photo\\Working\\
		<add key="FileUpdatePath" value="C:\\Copy\\callforminput\\SparEyesPic\\"/>
		<add key="FileWorkPath" value="C:\\Copy\\callforminput\\SparEyesPic\\"/>
		<add key="FileApprovedPath" value="C:\\Copy\\callforminput\\SparEyesPic\\"/>
		<add key="ServerName" value="localhost"/>
		<add key="FilePathdb" value="C:\Copy\callforminput\SparEyesPic\"/>
	
		 
		<add key="FileUpdatePath" value="Z:\WebApps\callforminput\SparEyesPic\"/>
		<add key="FileWorkPath" value="Z:\WebApps\callforminput\SparEyesPic\"/>
		<add key="FileApprovedPath" value="Z:\WebApps\callforminput\SparEyesPic\"/>
		<add key="ServerName" value="mi21.sparinc.com"/>
		<add key="FilePathdb" value="Z:\WebApps\callforminput\SparEyesPic\"/>
		-->
		<!--Photo Path to sparappstorage server -->

		<!--Photo Path to Mi10 server -->
		
		<add key="FileUpdatePath" value="\\sparappstorage\sparEyesPic\"/>
		<add key="FileWorkPath" value="\\sparappstorage\sparEyesPic\"/>
		<add key="FileApprovedPath" value="\\sparappstorage\sparEyesPic\"/>
		<add key="ServerName" value="app1.sparinc.com"/>
		<add key="FilePathdb" value="e:\web applications\sparEyesPic\"/>

		<add key="FileApprovedPhotoLink" value="http://spareyes.sparinc.com/SPAREyesPic/SPAREyesPic"/>
		<add key="FileEmailPhotoLink" value="http://app1.sparinc.com/spareyesapproval/spareyes_multiphotoapprove.aspx"/>
		<add key="NewCallFormPathLink" value="http://app4.webreportms.com/CallFormGrid/CFJWTSCMainPage.aspx"/>
		<!--Control Each country as to where the photos will go either sparappstorage server or Mi10 server -->

    <!--Photo cloud path -->
    <add key="FileUpdatePathfsx" value="\\appstorefsx\sparEyesPic\"/>
    <add key="FileWorkPathfsx" value="\\appstorefsx\sparEyesPic\"/>
    <add key="FileApprovedPathfsx" value="\\appstorefsx\sparEyesPic\"/>
    <add key="ServerNamefsx" value="app1.sparinc.com"/>
    <add key="FilePathdbfsx" value="\\AppStoreFSx\sparEyesPic\"/>

    <add key="FileApprovedPhotoLinkfsx" value="https://awsspareyes.sparinc.com/SPAREyesPic/SPAREyesPic"/>
    <add key="FileEmailPhotoLinkfsx" value="http://app1.sparinc.com/spareyesapproval/spareyes_multiphotoapprove.aspx"/>
    <add key="NewCallFormPathLinkfsx" value="http://app4.webreportms.com/CallFormGrid/CFJWTSCMainPage.aspx"/>
    <!--Moving the photos to cloud-->
    <add key="CloudSwitchServerUsa" value="Y"/>
    <add key="CloudSwitchServerJapan" value="Y"/>
    <add key="CloudSwitchServerCanada" value="Y"/>
    <add key="CloudSwitchServerAustralia" value="Y"/>
    <add key="CloudSwitchServerSouthAfrica" value="Y"/>
    <add key="CloudSwitchServerIndia" value="Y"/>
    <add key="CloudSwitchServerRomania" value="N"/>
    <add key="CloudSwitchServerChina" value="N"/>
    <add key="CloudSwitchServerTurkey" value="N"/>
    <add key="CloudSwitchServerMexico" value="Y"/>
    <add key="CloudSwitchServerLithuania" value="N"/>
    <add key="CloudSwitchServerBrazil" value="N"/>
    
		<!--Y flag means go to sparappstorage server -->
		<!--N flag means go to Mi10 server -->
		
		<add key="PhotoSwitchServerUsa" value="Y"/>
		<add key="PhotoSwitchServerJapan" value="Y"/>
		<add key="PhotoSwitchServerCanada" value="Y"/>
		<add key="PhotoSwitchServerAustralia" value="Y"/>
		<add key="PhotoSwitchServerSouthAfrica" value="Y"/>
		<add key="PhotoSwitchServerIndia" value="Y"/>
		<add key="PhotoSwitchServerRomania" value="Y"/>
		<add key="PhotoSwitchServerChina" value="Y"/>
		<add key="PhotoSwitchServerTurkey" value="Y"/>
		<add key="PhotoSwitchServerMexico" value="Y"/>
		<add key="PhotoSwitchServerLithuania" value="Y"/>

    <add key="Photofile_compression_client_Usa" value="675"/>
    <add key="Photofile_compression_clientJapan" value="0"/>
    <add key="Photofile_compression_clientCanada" value="0"/>
    <add key="Photofile_compression_clientTurkey" value="0"/>
    <add key="Photofile_compression_clientSouthAfrica" value="0"/>
    <add key="Photofile_compression_clientIndia" value="0"/>
    <add key="Photofile_compression_clientRomania" value="0"/>
    <add key="Photofile_compression_clientChina" value="0"/>
    <add key="Photofile_compression_clientLithuania" value="0"/>
    <add key="Photofile_compression_clientAustralia" value="0"/>
    <add key="Photofile_compression_clientMexico" value="0"/>
    <add key="Photofile_compression_clientBrazil" value="0"/>
    
		<!--RTS server location -->
    <add key="RTSSouthAfrica" value="Y"/>
		<add key="RTSServerName" value="app4"/>
		<add key="RTSPathName" value="/itsnetmerch/its_IssueAddNext.aspx"/>
		
		<add key="DataCollectionServer" value="app4"/>
		<add key="DataCollectionPath" value="/pdcs/index.asp"/>

    <add key="DataCollectionServerTest" value="app4"/>
    <add key="DataCollectionPathTest" value="/ProductDataCollectionNew/selectactivity"/>

    <add key="AssemblyCollectionServer" value="app4"/>
		<add key="AssemblyCollectionPath" value="/papdcs/index.aspx"/>
    
    <add key="AssemblyCollectionServerTest" value="app4"/>
    <add key="AssemblyCollectionPathTest" value="/AssemblyServiceRpt/mainpage"/>
    
		<add key="AcceptableVideoExtension" value="mp3|mp4|3gp|avi|divx|mpeg|wmv|3gp2|mov|flv|wav"/>
    <add key="Photofile_compression_client" value="675"/>
		
		<add key="CuteWebUI.AjaxUploader.TempDirectory" value="~/UploaderTemp"/>

		<!--Optional. Sets the maximum file size allowed per file 
           uploaded -->
		<add key="CuteWebUI.AjaxUploader.GlobalMaxSizeKB" value="29696"/>

		<!--Optional. Sets to control the upload speed  -->
		<add key="CuteWebUI.AjaxUploader.UploadSpeedKB" value="512"/>
		<add key="aspnet:MaxHttpCollectionKeys" value="20000"/>
    <add key="Validationcalifornia_Merch" value="Y"/>
		<!--dev2k3.sparinc.com C:\\Inetpub\\wwwroot\\SMP_callform\\ 101768 For Merch applications, set merchno, to run as normal application set it to 0-->
		<!--Give Merchuserid to run application for the specified user, if you leave it empty then it will look for merchuserid from Request.Form["merch_no"]-->
		<!-- 
    Space for User Settings
    -->
	</appSettings>
	<connectionStrings>
		<!-- 
    For Run As Production Mode, connection strings are going to taken from common folder 
      where all connection strings are configured to point production databases    
    -->
		<!-- 
    For Run As Simulation Mode Only
    -->
		<add name="EnglishDBconnectstringSimulation" connectionString="server=miprodtcp;database=miprodDB;uid=webappuser;password=superset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="JapanDBconnectstringSimulation" connectionString="server=mijpprodtcp;database=mijpproddb;uid=webappuser;password=superset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="CanadaDBconnectstringSimulation" connectionString="server=MICAPRODTCP;database=micaproddb;uid=webappuser;password=superset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="TurkeyDBconnectstringSimulation" connectionString="server=MITRPRODTCP;database=mitrproddb;uid=application;password=appset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="SADBconnectstringSimulation" connectionString="server=MISAPRODTCP;database=MISAPRODDB;uid=misaprodappuser;password='sasuperset';Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="IndiaDBconnectstringSimulation" connectionString="server=MIINPRODTCP;database=miinproddb;uid=miinprodappuser;password='insuperset';Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="RomaniaDBconnectstringSimulation" connectionString="server=MIROPRODTCP;database=Miroproddb;uid=miroprodappuser;password='rosuperset';Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="DaymonDBconnectstringSimulation" connectionString="server=MIENTESTTCP;database=mientestdb;uid=application;password=appset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="ChinaDBconnectstringSimulation" connectionString="server=MICHPRODTCP;database=michproddb;uid=michprodappuser;password=chsuperset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="LithuanianDBconnectstringSimulation" connectionString="server=MILIPRODTCP;database=MILIPRODDB;uid=miliprodappuser;password=lisuperset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="AustraliaDBconnectstringSimulation" connectionString="server=MIAUPRODTCP;database=miauproddb;uid=miauprodappuser;password=ausuperset;" providerName="System.Data.SqlClient"/>
		<add name="MJSChinaDBconnectstringSimulation" connectionString="server=MICHPRODTCP;database=michmjsproddb;uid=michprodappuser;password=chsuperset;" providerName="System.Data.SqlClient"/>
		<add name="MexicoDBconnectstringSimulation" connectionString="server=MIMXPRODTCP;database=MIMXPRODDB;uid=mimxprodappuser;password=mxsuperset;" providerName="System.Data.SqlClient"/>
		<add name="SGRPIndiaDBconnectstringSimulation" connectionString="server=MIINPRODTCP;database=miinproddb;uid=miinprodappuser;password='insuperset';" providerName="System.Data.SqlClient"/>
		<add name="MINMSPRODDBconnectstringSimulation" connectionString="server=MIPRODTCP;database=MINMSPRODDB;uid=minmsprodappuser;password=nmssuperset;" providerName="System.Data.SqlClient"/>
		<add name="BrazilPRODDBconnectstringSimulation" connectionString="server=mibrprodtcp;database=brproddb;uid=brprodappuser;password=brsuperset;" providerName="System.Data.SqlClient"/>
		<!-- 
    For Test Mode Only
		<add name="EnglishDBconnectstringTest" connectionString="Server=mi2k5ustesttcp;Database=mi2k5ustestdb;UId=webappuser;password=superset;" providerName="System.Data.SqlClient"/>
    -->
		<add name="EnglishDBconnectstringTest" connectionString="server=TESTUSTCP;Database=mi2k5ustestdb;UId=webappuser;password=superset;" providerName="System.Data.SqlClient"/>
		<add name="JapanDBconnectstringTest" connectionString="server=mi2k5jptesttcp;database=mi2k5jptestdb;uid=mi2k5jptestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="CanadaDBconnectstringTest" connectionString="server=mi2k5catesttcp;database=mi2k5catestdb;uid=mi2k5catestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="TurkeyDBconnectstringTest" connectionString="server=mi2k5trtesttcp;database=mi2k5trtestdb;uid=mi2k5trtestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="SADBconnectstringTest" connectionString="server=mi2k5satesttcp;database=mi2k5satestdb;uid=mi2k5satestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="IndiaDBconnectstringTest" connectionString="server=mi2k5intesttcp;database=mi2k5intestdb;uid=mi2k5intestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="RomaniaDBconnectstringTest" connectionString="server=mi2k5rotesttcp;database=mi2k5rotestdb;uid=mi2k5rotestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="DaymonDBconnectstringTest" connectionString="Server=mi2k5ustesttcp;Database=mi2k5ustestdb;UId=webappuser;password=superset;" providerName="System.Data.SqlClient"/>
		<add name="ChinaDBconnectstringTest" connectionString="server=mi2k5chtesttcp;database=mi2k5chtestdb;uid=mi2k5chtestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="LithuanianDBconnectstringTest" connectionString="server=mi2k5litesttcp;database=mi2k5litestdb;uid=mi2k5litestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="AustraliaDBconnectstringTest" connectionString="server=mi2k5autesttcp;database=mi2k5autestdb;uid=mi2k5autestappuser;password=2k5appset;" providerName="System.Data.SqlClient"/>
		<add name="MJSChinaDBconnectstringTest" connectionString="server=MICHPRODTCP;database=michmjsproddb;uid=michprodappuser;password=chsuperset;" providerName="System.Data.SqlClient"/>
		<add name="MexicoDBconnectstringTest" connectionString="server=MIMXPRODTCP;database=MIMXPRODDB;uid=mimxprodappuser;password=mxsuperset;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="SGRPIndiaDBconnectstringTest" connectionString="server=MIINPRODTCP;database=miinproddb;uid=miinprodappuser;password='insuperset';" providerName="System.Data.SqlClient"/>
		<add name="MINMSPRODDBconnectstringTest" connectionString="server=MIPRODTCP;database=MINMSPRODDB;uid=minmsprodappuser;password=nmssuperset;" providerName="System.Data.SqlClient"/>
		<add name="BrazilPRODDBconnectstringTest" connectionString="server=mibrprodtcp;database=brproddb;uid=brprodappuser;password=brsuperset;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="smtprelay.sparinc.net "/>
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		


		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never">
			<controls>
				<add tagPrefix="VwdCms" namespace="VwdCms"/>
				<add tagPrefix="cc1" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI"/>
			</controls>
		</pages>

		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    
    <compilation debug="false">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
    </compilation>
    <authentication mode="Windows"/>
	<identity impersonate="true" userName="sparinc\SPAREyes" password="5tgb6YHN"/>
		
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
	</httpModules>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
	
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
	</modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name=" X-XSS-Protection" value="0"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>